{% extends "_layout.html" %}

{% block header_and_script %}{% endblock %}
</head>

<body>
  <div id="wrapper"><!-- div#wrapper -->
{% block wrapper_header %}{% endblock %}

{% block wrapper_main %}
<div id="main" class="clearfix"><!-- main -->
	<h2>vocarus利用規約</h2>
	<section class="explanation">
    <div class="expl4"><p>vocarusでは、vocarus利用規約に同意いただいた方に、無料で提供させていただくサービスです。<br>従いまして、ユーザーの皆様は、当サイトのWebサービスをご利用頂く上で下記の規約に承諾していただいたとみなさせていただきますのでご注意ください。<br>本規約は、vocarus開発チーム(以下「当チーム」)が独自に規定するものであり、当チームの運営する「vocarus」(以下当チームの運営するWebサイト」)が提供するサービス(以下「本サービス」)に適用されるものとします。</p>
    </div>
    
    <span class="point">1.サービスの提供</span>
    <div class="expl4"><p>本サービスは、本規約に同意いただける方であれば誰でも無料で利用することができます。ただし、当チームはインターネットへのアクセスするための準備、方法などについては関与いたしません。</p></div>
    <span class="point">2.本サービスの停止又は中断</span>
    <div class="expl4"><p>当チームは、当チームが次のいずれかに該当すると判断した場合には、ユーザーへの事前若しくは事後の通知を行なうことなくかつユーザーの承諾を要することなく随時、本サービスを停止又は中断することができるものとします。また、当チームは、前項による本サービスの停止又は中断によりユーザーに生じた損害につき、一切の責任を負わないものとします。<br>
(1)本サービスの提供に必要な設備の保守又は点検（定期的なものであると緊急なものであるとを問わない）を行う場合<br>
(2)不可抗力（地震等の天災、火災、停電を含むがこれらに限られない）により本サービスを提供が困難な場合<br>
(3)運用上または技術上の理由でやむを得ない場合<<br>
(4)本サービスの提供に必要な設備が事故（当チームの責に帰すべき事由によるものであるか否かを問わない）により停止又は破損した場合 <br>
(5)その他、当チームが停止又は中断が必要であると判断した場合<br></p></div>
	<span class="point">3.禁止事項</span>
    <div class="expl4"><p>ユーザーは利用に際し、次に該当する行為を禁止します。<br>
・第三者の著作権、肖像権、その他知的財産権、財産、プライバシー等を侵害する行為。<br>
・第三者を誹謗中傷する行為。<br>
・選挙運動・宗教活動、またはそれらに繋がる行為と当チームが判断した行為。<br>
・公序良俗に反する行為。<br>
・犯罪行為またはそれらに繋がる行為と当チームが判断した行為。<br>
・法律・法令違反またはそれらに繋がる行為と当チームが判断した行為。<br>
・特定の利益団体の無差別または一方的な宣伝およびに広報活動、またはそれらに繋がる行為と当チームが 判断した行為。<br>
・本サービスおよびに当チームの運営を妨げる行為、当チームの信頼を毀損するような行為、または、その恐れのある行為。<br>
・国家安全保障に反する行為、またはそれらに繋がる行為と当チームが判断した行為。<br>
・わいせつ、アダルトに関する情報の掲載行為。<br>
・社会通念上、暴力的と解釈され、又はその恐れのある情報の掲載行為。<br></p></div>
	<span class="point">4.データの保障</span>
    <div class="expl4"><p>本サービスのシステムおよびにサービスを通してやりとりされるデータは、不慮のシステムのトラブル等により失われることがあります。当チームは、データのバックアップの義務およびに、失われたデータの修復の義務は負わないものとし、かかる事態で生じたもしくは付随して生じるいかなる損害の責任も負わないものとします。</p></div>
    <span class="point">5.知的財産権</span>
    <div class="expl4">
    	<p>ユーザーは当チームによって本サービスに提供されるコンテンツ、もしくはサービスを通じて得られる情報は、著作権、商標権、サービスマークに関する権利、特許権、またはその他の知的財産権として法律によって保護されていることを承諾したものとします。<br>
ユーザー著作物はユーザー個人の著作物ですが、全体としてのコンテンツの集積は、本サービスが設置したシステムと運営の中で行われたものであり、編集著作物として当チームが権利を有します。<br></p>
    </div>
    <span class="point">6.規約の範囲および変更</span>
    <div class="expl4">
    	<p>当チームはいつでも本規約の変更を行うことができます。本規約の変更・追加はインターネットを通じてユーザーに発表されます。継続して利用する場合、ユーザーはこれを承諾したものとみなします。</p>
    </div>
    <span class="point">7.免責事項</span>
    <div class="expl4">
    	<p>本サービスを通じて掲載・配信されるメッセージの内容についての信頼性、正確性について、当チームは一切保証いたしません。
本サービスは他のコンテンツへのリンクが含まれる場合がありますが、当チームはこれらのコンテンツの有用性、あるいは派生したあらゆる損失、損害に対する一切の責任を負いません。
ユーザーおよび第三者が被ったあらゆる損害に関し、当チームは一切の責任を負わないものとします。その他、本サービスの利用に関連してユーザーおよび第三者に発生する損害について、当チームは一切責任を負いません。サイトの改ざんやコンピュータウィルスによる損害に関しても同様に、当チームは一切の責任を負わないものとします。
また、本サービスの利用規約を任意に変更することもありますが、それに対しユーザーおよび第三者に対しても責任を負いません。</p>
    </div>
    <span class="point">8.損害賠償</span>
    <div class="expl4">
    	<p>ユーザーが本規約及びその他諸法令等に違反する行為または不正もしくは違法な行為によって当チームに損害を与えた場合には、当チームは当該ユーザーに対して損害の賠償を請求することができるものとします。</p>
    </div>
    <span class="point">9.管轄裁判所</span>
    <div class="expl4">
    	<p>本サービスに関連してユーザーと当チームの間で訴訟の必要が生じた場合、東京地方裁判所を第一審の専属的合意管轄裁判所として処理するものとします。</p>
    </div>
    <span class="point">10.知的財産の研究、開発について</span>
    <div class="expl4">
    	<p>ユーザーがアップロードしたファイルを、本サービスの開発、研究への貢献の為に当チームが自由に解析できるものとします。</p>
    </div>
    <span class="point">11.その他</span>
    <div class="expl4">
    	<p>本規約、本サービスに関する個別規約、本サービス及び当チームの運営するWebサイトの効力、 解釈及び履行については、日本法に準拠するものとします。<br><br>

利用規約は平成24年7月9日から発効するものとします。</p>
    </div>
    </section>
</div><!-- main fin -->
{% endblock %}

{% block wrapper_footer %}{% endblock %}
  </div><!-- div#wrapper -->
</body>
</html>
